.skill{
    h1{
        margin-top: 1rem;
        font-size: 1.5rem;
        color: #143E72
    }

    hr{
        width: 93%;
    }

    .skill{
        display: flex;
        margin-top: 1rem;
    }

    .skillName{
        width: 15rem;
        font-weight: 600;
    }
}