.experience {
    width: 100%;

    h1{
        margin-top: 1rem;
        font-size: 1.5rem;
        color: #143E72
    }

    hr{
        width: 93%;
    }

    .experienceName{
        width: 9rem;
        font-weight: 600;
    }

    .experience{
        margin-top: 1rem;
        display: flex;
    }

}
